.app-input {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 1px;
    background: $white;
    transition:
      left 0.2s,
      right 0.2s;
  }

  &--selected::before,
  &:hover::before {
    left: 0;
    right: 0;
  }

  &__inner {
    background: none;
    border: none;
    font-family: $fontFamily;
    font-size: 36px;
    padding: 10px 20px;
    color: $white;
    border-bottom: 1px solid transparent;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $white;
      opacity: 0.5;
    }
  }
}
