.app-header {
  font-weight: 400;
  font-size: 72px;
  display: block;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;

  @media (max-width: $mobileBreakpoint) {
    font-size: 48px;
  }
}
