.ingredient-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__button {
    background: none;
    border: none;
    display: flex;
    place-items: center;
    cursor: pointer;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: white;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover::after {
      opacity: 0.5;
    }

    &--red {
      background: $lightRed;
    }

    &--green {
      background: $green;
    }
  }

  &__image {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
    background: $white;
    display: flex;
    place-items: center;
    padding: 20px;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      width: 100%;
      transition: transform 0.2s;
    }
  }

  &__title {
    font-size: 24px;
    text-align: center;
  }
}
