$white: #fefce7;
$black: #141414;
$lightBlue: #68bdfb;
$red: #fa0404;
$lightRed: #f56565;
$green: #90f26d;
$brown: #76564b;

$mobileBreakpoint: 768px;
$smallScreenBreakpoint: 475px;

$fontFamily:
  Snowburst One,
  Arial,
  sans-serif;
